DJANGO_DEBUG=1
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

POSTGRES_DB=salon
POSTGRES_USER=salon
POSTGRES_PASSWORD=salon
POSTGRES_HOST=db
POSTGRES_PORT=5432
